html, body, h1 {
  font-family: 'Sorts Mill Goudy', serif;
  color: #999
}

.centered {
  text-align: center;
  margin-bottom: 1em;
}

h1 {
  padding: .50em;
  font-size: 6rem;
}

p {
  padding: 2em;
}


.arrow {
  margin-bottom: 3em;
}

ul {
  list-style-type: none; 
  text-align: center;
}
li {
  display: inline-block;
  margin-right: 1em;
  padding: 0 1em;
}

a.close-reveal-modal {
  margin-right: 1em;
  margin-top: 1em;
}

@media only screen and (max-width: 40em) {
/* line 158, ../bower_components/foundation/scss/foundation/components/_reveal.scss */
  dialog, .reveal-modal {
    height: 40vh;
    min-height: 30vh;
    }
  h1 {
  font-size: 3rem;
  }
}