html, body, h1 {
  font-family: 'Sorts Mill Goudy', serif;
  color: #999
}

.centered {
  text-align: center;
  margin-bottom: 1em;
}

h1 {
  padding: .75em;
}

p {
  padding: 2em;
}

.arrow {
  margin-bottom: 3em;
}

ul {
  list-style-type: none; 
  text-align: center;
}
li {
  display: inline-block;
  margin-right: 1em;
  padding: 0 1em;
}